// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    1000px;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   360px;
$break-medium:  640px;
$break-large:   800px;

// A standard margin
$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
$color: (
  text: #333,
  link: #00aeff,
  font: #626262,
  dark: #31333e,
  light: #e2e7ed,
  white: #fff,
  black: #000,
  link-muted: steelblue,
  body-background: white
);
