.wrap-header {
  header {
    padding: 0 10px;
    max-width: $width-site;
    margin: auto;
    .site-branding {
      display: flex;
      justify-content: space-around;
    } //.site-branding
    .site-navigation {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      #responsive-menu {
        flex-basis: 340px;
      } //#responsive-menu
    } //site-navigation
    h1 {
      text-transform: uppercase;
      font-family: 'PT Sans', Arial, sans-serif;
       margin: 0;
      span:before {
        color: color(link);
        content: '\f0f2';
        font-family: FontAwesome;
        font-size: 1.3em;
        font-weight: weight(normal);
        padding-right: 20px;
        vertical-align: baseline;
      } //span:before // logo
    } //h1
    #responsive-menu-toggle {
      display: flex;
    } //#responsive-menu-toggle
    #responsive-menu-toggle:before {
      content: '\f0c9';
      font-family: FontAwesome;
      font-size: 1.3em;
      margin: auto;
    } //menu button
    @include media-above($break-small) {
//      min-height: 120px;
      padding: 30px 10px;
      .site-navigation {
        align-items: center;
        #responsive-menu {
          flex-basis: auto;
        } //#responsive-menu
      } //.site-navigation
      #responsive-menu-toggle {
        display: none;
      } //hide button
    } //media above small
    nav {
      #responsive-menu {
        display: none;
      } //hide menu by default
      #responsive-menu.toggled {
        display: block;
      } //show menu on button click
      ul {
        list-style: none;
      } //ul
      li {
        text-align: center;
        border-bottom: 2px solid color(font);
      } //li
      a {
        color: color(font);
        text-transform: uppercase;
        position: relative;
        display: block;
        padding: 15px 0;
      } //a
      .current-menu-item a {
        color: color(link);
      } //.current-menu-item
      @include media-above($break-small) {
        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
        } //ul
        a {
          text-decoration: none;
          letter-spacing: 1px;
          text-shadow: 0 0 1px rgba(255,255,255,0.3);

          padding: 0;

          &::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background: rgba(0,0,0,0.1);
            content: '';
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            transform: translateY(10px);
          } //after
          &:hover::after {
            opacity: 1;
            transform: translateY(0px);
          } // hover after
        } //a
        li {
          border: none;
          display: inline-block;
          margin: 0 15px;
          &:last-child {
            margin-right: 0;
          } //last-child
        } //li
        #responsive-menu {
          display: block;
        } //#responsive-menu
      } //media-above small
    } //nav
  } //header
  @include media-above($break-medium) {
    header {
      display: flex;
      justify-content: space-around;
      align-items: center;
    } //header
  } //media-above small
} //.wrap-header

//Search form from bookmate.com
.header-search-form {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 30px;
  margin: 10px 0 10px 20px;
  background: lighten(color(light), 5);
}
.header-search-form-input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: medium none;
  outline: medium none;
  font-style: italic;
  background: transparent none repeat scroll 0% 0%;
}

.header-search-form-button {
  position: absolute;
  bottom: 2px;
  right: 6px;
  border: medium none;
  background: transparent none repeat scroll 0% 0%; 
  margin: 0px;
  padding: 0px;
  color: #c1c1c1;
  width: 17px;
  cursor: pointer;
}
.header-search-form-button:before {
  content: '\f002';
  font-family: FontAwesome;
  font-size: 1.1em;
}
