.services {
  background: color(light);
  padding: 3rem 0;
  &-list {
    background: color(white);
    li.service-item {
      @include media-above($break-large) {
        display: flex;
        &:nth-child(2n) {
          flex-direction: row-reverse;
        } //li:2n-child
        &>* {
          width: 50%;
        } //li>child
      } //media-above large
      figure {
        font-size: 0;
        text-align: center;
      } //figure
      article {
        padding: 1rem;
        box-sizing: border-box;
        .services-text a {
          color: color(link);
          display: block;
          margin-top: .5rem;
          &:hover {
            color: color(dark);
          } //a:hover
        } //.services-text a
      } //article
    } //li
  } //.services-list
} //.services
.page-services {
  figure {
    text-align: center;
  }
  h2 {
    margin-top: 1rem;
  } //h3
  h3 {
    margin-top: 1rem;
  } //h3
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  article {
    padding: .5rem;
  }
} //.page-services
.flightsearch {
  .container {
    max-width: 280px;
    margin: 0 auto 0;
    overflow: hidden;
    @include media-above($break-medium) {
      max-width: 720px;
    } //media above large
    h2 {
      margin: 2rem 0;
    } //h2
  } //.container
  iframe {
    margin: 0 auto;
  }
}